/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls{text-align:right;}
.owl-theme .owl-controls .owl-buttons div{
	width:27px;
	height:27px;
	display:block;
	overflow:hidden;
	text-align:center;
	text-indent:-9999px;
	display:inline-block;
	background:url(../img/next-previous.png) no-repeat 0 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
	margin:0 0 0 5px;
	background:url(../img/next-previous.png) no-repeat 100% 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.owl-theme .owl-controls.clickable .owl-buttons div.owl-prev:hover{background-position: 0 100%;}
.owl-theme .owl-controls .owl-buttons div.owl-next:hover{background-position: 100% 100%;}
.owl-pagination{
	width:40%;
	float:left;
	text-align:right;
}
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	vertical-align:middle;
	margin:0 5px 0 0;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 26px;
	height: 26px;
	background: url(../img/pagination.png) no-repeat;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{background-position:100% 0;}
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading img */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}