@media (max-width:1199px){
    #nav .navbar-collapse > ul > li{ padding:0 14px 30px 17px;}
    .banner-slider .heading-area{ margin:40px 0;}
    .banner-slider h1{font-size:54px;}
    .calculator-form .btn-theme{width: 150px;}
    .team .member-foot .btn-member {padding: 0 0 0 12px;}
    .team .member-foot .btn-member i {margin: 6px;}
    .social-area li {padding: 0 4px 40px;}
    .testimonial-slider .owl-controls.clickable{ right:33%;}
    table.cart-table tbody td img {margin:0 20px 20px 0;}
    .banner-content h2{
        font-size:26px;
        line-height:30px;
    }
    .banner-content{
        padding-left: 40%;
    }
}
@media (max-width:1024px){
    h2{font-size: 26px;}
    h3{font-size: 24px;}
    .head-section .border-title::after{
        top: 45px;
    }
    form.form-search input[type="text"]:focus{width:210px;}
    #nav .navbar-collapse > ul > li:first-child {padding: 0 10px 0 0;}
    #nav .navbar-collapse > ul > li {padding: 0 10px 30px 13px;}
    .banner-slider h1 {
        font-size: 50px;
        line-height:55px;
    }
    .banner-slider p ,
    .banner-slider .heading-area {margin: 0 0 30px;}
    .nav-tag-holder {left: 8px;}
    .team .member-foot .member-name{
        display:block;
        float:none;
        text-align:center;
    }
    .team .member-foot .btn-member {
        width:170px;
        float:none;
        margin:0 auto;
    }
    .team .member-foot .btn-member i {margin: 3px;}
    .competitor-section h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .product {min-height: 404px;}
    .page-content {padding: 90px 150px;}
}
@media (max-width:991px){
    #nav .navbar-collapse > ul > li:first-child {padding: 0 10px 0 0;}
    #nav .navbar-collapse > ul > li {padding: 0 10px 30px 13px;}
    #nav{text-align: center;}
    form.form-search {
        display: inline-block;
        float: none;
        margin: 15px auto 30px;
        text-align: center;
    }
    .banner-slider h1 {
        font-size: 40px;
        line-height:45px;
    }
    .banner-slider .heading-area .date {
        font-size: 20px;
        line-height: 23px;
        padding: 0 0 10px;
    }
    .banner-slider{padding: 55px 0 0;}
    .banner-slider p, .banner-slider .heading-area {margin: 0 0 13px;}
    .banner-slider .owl-wrapper-outer{padding: 30px 0;}
    .welcome-area .container{
        padding: 90px 15px;
    }
    .banner-slider .container::after{
        background: none;
    }
    .banner-slider img {
        top: 30px;
    }
    .calculator-form .btn-theme {margin: 10px 0;}
    .calculator .calculator-form input[type="text"]{margin: 5px 0 !important;}
    .welcome-area .container::after{background: none;}
    .text-box{
        margin-left: 0;
    }
    h3{font-size: 22px;}
    #gallery-cats li a.btn-theme{ width:120px;}
    #gallery-cats li a.btn-theme i{ margin:3px 3px 3px 0;}
    .news-event-slider .item .foot .title{font-size:12px;}
    .competitor-section .border-title{ margin: 0 0 20px;}
    .competitor-section .border-title::after{ top:110%;}
    .competitor-section h2{ font-size:20px;}
    .team .member-foot .btn-member,
    .team .member-foot .member-name{
        width:100%;
        text-align:center;
    }
    .social-area li .icon {width: 104px;}
    .contact-info h2 {margin: 10px 0 20px;}
    .social-area li {padding: 0 4px 20px;}
    .contact-info address{ width:100%;}
    .contact-info address,
    .contact-info strong.email,
    .contact-info .number{
        font-size:17px;
        line-height:20px;
    }
    .testimonial-slider .owl-controls.clickable {right: 25%;}
    .shop-head ul li {padding: 0 10px;}
    .banner-content{
        padding-left: 40%;
    }
    .banner-content h2{
        font-size:20px;
        line-height:24px;
        margin:0 0 20px;
    }
    .event .accordion-head > div h3{ font-size:16px;}
    .content form fieldset .cart-foot .coupon .btn-apply{ width:50%;}
    .content form fieldset .cart-foot .coupon input{ width:52%;}
    .content form fieldset .cart-foot .cart-total .cart-btns button{
        width:48%;
        float:right;
        margin:0;
    }
    .content form fieldset .cart-foot .cart-total .cart-btns button:first-child{float:left;}
    .competitor .competitor-img{ padding-top:60px;}
    .btn-theme span.txt{ padding:0 30px 0 0;}
    #gallery-cats li a.btn-theme {width: 130px;}
    .post.single h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .product-description h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .benefits ul li .features {width: 86%;}
    .shop-head ul{
        font-size: 14px;
    }
}
@media (max-width:767px){
    #header .topbar{ padding:15px;}
    .topbar .add-nav ul li{ padding:0 11px 0 10px;}
    form.form-search{ margin:0;}
    #nav{
        padding:15px;
        margin:0 2%;
        position:relative;
        width:96%;
    }
    #nav .navbar-header{
        position:relative;
        float:left;
    }
    .navbar-header .navbar-toggle{
        margin:0;
        color:#f44029;
        background:#f44029;
    }
    .navbar-header .navbar-toggle .icon-bar{ background:#fff;}
    #nav .navbar-collapse{
        position:absolute;
        top:64px;
        left: 0;
        z-index:5;
        /*width:300px;*/
        background:#fff;
        overflow:hidden;
    }
    #nav .navbar-collapse ul{ background:#fff;}
    #nav .navbar-collapse > ul > li:first-child,
    #nav .navbar-collapse > ul > li{
        width:100%;
        padding:7px 15px;
    }
    #nav .navbar-collapse > ul > li:after{ display:none;}
    #nav .navbar-collapse ul li ul li ul,
    #nav .navbar-collapse ul > li > ul{ left:15px;}
    .banner-slider{padding: 0;}
    .banner-slider > .container{display: none;}
    .banner-slider .main-slider{ padding:0 15px;}
    .banner-slider .item .col-sm-5{display:none;}
    .calculator{margin: 0;}
    .calculator-form .row > div{margin-top: 10px;}
    .calculator .calculator-form input[type="text"]{
        margin: 5px 0 !important;
    }
    .head-section .border-title::after{
        top: 50px;
    }
    .welcome-area,
    .latest-race{padding:0 15px;}
    .race-area > div{margin-top: 60px;}
    .competitor-section{ padding:60px 0;}
    .contact-info .competitor-img,
    .competitor .competitor-img,
    .welcome-area:after{ display:none;}
    .latest-race .race-area .col-sm-7{ margin-bottom:40px;}
    .latest-race .race-area .col-sm-5{ text-align:center;}
    #gallery-cats li{margin: 0;}
    .competitor .competitor-img{
        margin-top:50px;
        text-align:center;
    }
    .competitor-section h2{
        font-size:40px;
        font-family:'Roboto', Arial, Helvetica, sans-serif;
    }
    .option-section, .gallery-section{padding: 60px 15px;}
    .option-section .three-columns > div{padding: 20px;}
    .page-heading{ padding:50px 15px;}
    #sidebar{margin-top: 60px;}
    .competitor-section .border-title:after {top: 105%;}
    .head-section{
        width: 100% !important;
    }
   .head-section h2{
        text-align: left;
        font-size: 30px !important;
    }
    .head-section span{
        text-align: left;
    }
    #footer .container.footer{ padding:80px 15px 0;}
    #footer .bottom-strip{ padding:35px 15px; text-align: center;}
    .bottom-strip span{float: none !important;}
    .our-sponsors{ padding:120px 15px 60px;}
    .trithlon-history .three-columns.row{ margin:0 -15px;}
    .trithlon-history .three-columns.row > div.col-sm-4{ padding:10px 0;}
    .head-section,
    .trithlon-history .description{ width:100%;}
    .team{ padding:50px 15px;}
    .team .member{ margin:0 0 15px;}
    .testimonials{ padding:70px 15px;}
    .testimonial-slider .item{ width:100%;}
    .social-area li{
        float:left;
        display:block;
        vertical-align:auto;
        width:33.33%;
        padding:0 10px 20px
    }
    .social-area li .icon{ width:100%;}
    .posts.row{ margin:8px 0;}
    .blog-post .post{
        padding: 15px 30px !important;
        float:left;
    }
    
    .post-comments .about-author{
        padding:30px 9999px;
        margin:0 -9969px;
    }
    #comment-form{ padding:60px 15px;}
    #comment{ padding:0 15px;}
    .more-articles > h2{ margin:0 15px 45px;}
    .content form{ padding:0 15px;}
    .content form fieldset button[type="submit"] {margin: 0 0 50px;}
    .my-account ul{ padding:0 15px;}
    .product-detail{ padding:70px 15px;}
    .product-description h2 {margin: 60px 0 15px;}
    .care ul li, .product-features ul li{
        width:100%;
    }
    .product-banner{ margin:0 15px 27px;}
    .shop-head{ padding:0 15px 30px;}
    .banner-content h2{
        font-size:26px;
        line-height:34px;
        margin:0 0 35px;
    }
    #sidebar h3{ padding:0 15px;}
    .widget {
        margin:0 -2px;
        padding: 0 15px 15px;
        width:50%;
        display:inline-block;
        vertical-align:top;
    }
    .events .event{ padding:25px 10px;}
    .events .panel-group{ padding:0 15px;}
    .event .accordion-head {
        width:100%;
        float:none;
        display:block;
        overflow:hidden;
        padding:0 0 20px;
        text-align:center;
    }
    .event .accordion-head > div{
        float:none;
        padding:0 13px;
        display:inline-block;
        vertical-align:middle;
    }
    .table.theme-table thead tr th,
    .event .table.theme-table thead tr th{width:50%;}
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td{padding:6px 10px;}
    .events .btn-theme.btn-book-now{
        float:none;
        display:block;
        margin:0 auto;
    }
    .fields-area{ padding:0;}
    .banner-slider .container:after{ display:none;}
    .banner-slider .owl-controls.clickable {
        width: 100%;
        left:0;
    }
	.post.single h2.single-post-title{ font-size:24px;}
}
@media (max-width:640px){
            #gallery-cats li{
            width:50%;
            display:block;
            vertical-align:auto;
            margin:15px 0;
            padding:0 15px;
            float:left;
        }
    .testimonial-slider .owl-controls.clickable {right: 0;}
    .testimonials .head-section{ width:100%;}
    .content form fieldset .cart-foot .btn-theme,
    .content form fieldset .cart-foot .coupon input{width:51.9%;}
    .content form fieldset .cart-foot .cart-total .cart-btns button{
        width:45%;
        float:left;
        margin:0;
    }
    .content form fieldset .cart-foot .coupon{ width:100%;}
    .content form fieldset .cart-foot .cart-total .cart-btns button.btn-checkout{ margin:0 0 0 10%;}
    .banner-slider h1 {
        font-size: 30px;
        line-height:35px;
    }
    .dropdown-menu.cart-item {
        width: 300px;
        left:-30px;
    }
    .welcome-area .container:after{ display:none;}
    .page-content .form-search {width: 100%;}
    .page-content {padding: 90px 15px;}
    .banner-content h2{
        display: none;
    }
}
    @media (max-width:639px){
        .topbar .left-bar,
        .topbar .right-bar,
        .topbar .add-nav ul{
            width:100%;
            text-align:center;
        }
        .topbar .add-nav ul li,
        .topbar .left-bar .dropdown{
            float:none;
            display:inline-block;
            vertical-align:middle;
        }
        .topbar .left-bar{ padding:0 0 20px;}

        #gallery-cats li a.btn-theme{ width:100%;}
        .competitor-section .border-title{ margin:0 0 40px;}
        .news-event-slider .owl-controls .owl-page{ margin:0 3px 0 0;}
        .welcome-area h2{ font-size:28px;}
        .competitor-section h2{font-size:20px;}
        .posts .post{width:100%;}
        .post.single h2{
            font-size:26px;
            line-height:30px;
        }
        .about-author .author-meta{
            width:100%;
            float:none;
            overflow:hidden;
            padding:24px 0;
        }
        .products-btns a{
            margin:0 auto;
            float:none;
        }
        .product-features ul li{ text-align:center;}
        .product-features ul li:after{ display:none;}
        .benefits ul li i.icon{
            margin:0 auto 25px;
            float:none;
            display:block;
        }
        .products-btns a.btn-buy-now{ margin:0 auto 20px}
        .instructions-icons{ padding:50px 0 0;}
        .instructions-icons i{ margin:0 0 13px 13px;}
        .related-product .col-md-3.col-sm-6.col-xs-6{width:100%;}
        /*** Table Responsive CSS ***/
        table.table.cart-table,
        table.table.cart-table thead,
        table.table.cart-table tbody,
        table.table.cart-table th,
        table.table.cart-table td,
        table.table.cart-table tr {display: block;}
        /* Hide table headers (but not display: none;, for accessibility) */
        table.table.cart-table thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        table.cart-table tbody td:last-child,
            table.table.cart-table td { 
            border: none;
            position: relative;
            padding-left: 50%; 
            white-space: normal;
            text-align:left;
            width:100%;
        }
        table.cart-table tbody td:last-child{ overflow:hidden;}
        table.cart-table tbody tr td{width:auto;}
        table.table.cart-table td:before {
            position: absolute;
            top: 34%;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align:left;
            font-weight: bold;
        }
        /*** Label the data ***/
        table.table.cart-table td:before { content: attr(data-title);}
        table.cart-table tbody td .btn-delete-item{ float:left;}
        .event .accordion-head > div{
            padding:0;
            width:100%;
        }
        .event .accordion-head > div span + span,
        .event .accordion-head > div span{
            display:inline-block;
            vertical-align:middle;
            padding:0 8px;
        }
        .event .accordion-head > div ul{ text-align:center;}
        .event .accordion-head > div ul li{
            float:none;
            display:inline-block;
            vertical-align:middle;
        }
        .newsletter-form{
            width:100%;
            padding:0 15px;
        }
        .newsletter-form input[type="email"]{
            width:58%;
            margin:0;
            float:left
        }
        .newsletter-form button[type="submit"]{
            float:right;
            width:35%;
        }
    }
    @media (max-width:500px){
        .products-list .col-md-4.col-sm-6.col-xs-6,
        .widget { width:100%;}
    }
    @media (max-width:400px){
        .calculator-form .btn-theme{
            width: 130px;
            margin: 5px 0 !important;
        }
        .topbar .add-nav ul li {padding: 0 4px 0 3px;}
        .social-area li{
            float:left;
            display:block;
            vertical-align:auto;
            width:50%;
            padding:0 10px 20px;
        }
        .banner-content{padding: 25px 5px 0 55%; }
        .banner-content h2{font-size: 12px; line-height: 1; }
        .total-products{margin-top: 20px;}
        .product-perpage{float: left; margin-top: 20px;}
        .event .accordion-head > div ul li{ margin:5px 0;}
        .shop-head-filter a{font-size: 12px;}
		.post.single h2.single-post-title{ font-size:24px;}
    }