/*
 * @Theme Admin Style
*/

.avatar-src-style{border: 1px solid #dfdfdf;padding: 5px;background: #FFF;border-radius: 5px;}
.delete-me i {    border: 1px solid #999;
    color: #999;
    padding: 5px 10px;}
.elm-display-none{ display:none !important;}
.backgroud-image{ position:relative;}
.delete-auhtor-media{
	position: absolute;
    left: -10px;
    background: #363636;
    border-radius: 100%;
    width: 18px;
    height: 19px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
}
.delete-auhtor-media:hover{color:#FFF;}
.extras-info.extras-head .label{ font-size:15px !important;}

/*TGMP*/
.template-line{display: block; margin: 0.5em 0.5em 0 0; clear: both;}
.tgmp-version{float: right; padding: 0em 1.5em 0.5em 0;}
.tgmp-version-style{min-width: 32px; text-align: right; float: right;}
