/********************************
	Monster Widget Styling CSS
********************************/
/*      */
.elm-display-none{ display:none;}
a.add_to_cart_button .fa-spin,
a.add_to_cart_button.added .fa-spin{
	line-height: 42px;
    z-index: 99;
    position: absolute;
    background: none;
    left: 16px;
    top: 1px;
	display:none;
}
a.add_to_cart_button.loading .fa-spin{display: block; line-height: 42px;  background: none;}

.loading.btn-theme:hover .round i{
	display:none;
}
.coupon .btn-theme:hover {
    color: #FFF;
}
.tg-loader{ position:relative;}
.tg-loader .fa-refresh.fa-spin{
	position: absolute;
    top: 14px;
    right: 200px;
    color: #FFF;
}
.loading-icons{ position:relative;}
.loading-icons i.fa-refresh.fa-spin{
	position: absolute;
    top: 17px;
    left: 245px;
}
.comingsoon-page{ text-align:center;}
.map-canvas{width:100%; height:300px; position:relative; display:none;}
.product-detail .product-list{ border:none;}
#reviews #comments h2{ padding-bottom:25px;}
.search-result-page{ padding:80px 0;}
.fw-flash-message{
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	list-style:none;
}
#sidebar .widget h3 {
	font-size: 14px;
	line-height: 26px;
	margin: 0 0 15px;
	padding: 4px 10px;
	text-transform: uppercase;
	color:#484848;
	background:#e2e2e2;
}
#sidebar .widget ul{}
#sidebar .widget ul li{
	border-top: 1px solid #eeeeee;
	padding: 8px 0;
}
#sidebar .widget ul li:first-child{ border:0;}
#sidebar .widget ul li a{
	overflow:hidden;
	/*display:block;*/
	position:relative;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
#sidebar .widget ul li a:hover{ color:#fdb62d;}
#sidebar .widget_price_filter .price_slider_wrapper .price_slider_amount .button{
	width:auto;
	padding:0 20px;
	border-radius:0 !important;
}
#sidebar .widget_price_filter .price_slider_wrapper .price_slider_amount .price_label{
	padding:13px 0;
	float:right;
}
#sidebar .widget_product_search form input[type="search"]{
	width:100%;
	margin:0 0 10px;
}
#sidebar .widget_product_search form input[type="submit"]{
	width:100%;
	border:0;
	line-height:38px;
	color:#fff;
	background:#dd2d17;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
#sidebar .widget_product_search form input[type="submit"]:hover{background:#fdb62d;}
.widget_shopping_cart ul li.mini_cart_item .product-img{
	float:left;
	height:auto;
	width:auto;
	margin:0 10px 0 0;
}
.widget_shopping_cart ul li.mini_cart_item .detail{ overflow:hidden;}
.widget_shopping_cart ul li.mini_cart_item .btn-delete-item{
	position:relative;
	float:right;
	margin:-20px 0 0;
}
#sidebar .widget_shopping_cart ul li.mini_cart_item .btn-delete-item a.remove{
	margin:0;
	position:relative;
	display:block;
}
#sidebar .widget_shopping_cart .btn-area .btn-theme{
	margin:20px 0 0;
	width:100%;
}
.widget_product_tag_cloud .tagcloud{
	overflow:hidden;
	margin:-5px;
}
.widget_product_tag_cloud .tagcloud a{
	float:left;
	margin:5px;
	color:#484848;
	background:#e2e2e2;
	padding:5px 10px;
	border-radius:5px 0;
	text-transform:capitalize;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.widget_product_tag_cloud .tagcloud a:hover{
	background:#fdb62d;
	color:#fff;
}
.widget.widget_search form.form-search{
	overflow:hidden;
	float:none;
	width:100%;
}
.widget.widget_search form.form-search input[type="text"],
.widget.widget_search form.form-search input[type="text"]:focus {
	width: 100%;
	float:none;
}
.widget.widget_nav_menu ul li a span{ display:none;}
#wp-calendar tr{ border-left:1px solid #fff;}
#today{
	background:#f44029;
	color:#fff;
}